# Ambiente Virtual
venv/

# Cache do Python
__pycache__/
*.pyc

# Arquivos de Log e Banco de Dados (mesmo usando MySQL, é bom ter)
*.log
*.sqlite3

# Arquivos de IDE (ex: VSCode)
.vscode/

# Arquivos de anotação do SO
.DS_Store
Thumbs.db

# Arquivo de segredos
.env